
<html>
<head>
  <title>User Authentication</title>
  <%if user_signed_in?%>
  <div class="user-logs">Welcome:<%= link_to current_user.name, user_path(current_user) %>| <a  class="log-out"><%= link_to "Logout!", destroy_user_session_path, :method => :delete %></a></a></div>
  <%end%>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
